/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  background-color: #9bd;
  /*Colors used
  Background #ffd (Cornsilk)
  */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6
}
a {
  color: #377;
}
a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:visited {
  /* visited link */
  color: #19f;
}
a:active {
  /* selected link */
  color: #497;
}
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #377;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #377;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.button__secondary {
  background-color: #eb5;
  color: #222;
}
.navigation-list__item--active {
  text-decoration: none;
}
.texas {
  max-width: 300px;
  margin: 0 auto;
  clear: both;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%
}
.page-footer {
  clear: both;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.profile {
  max-width: 700px;
  margin: 0 auto;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  width: 250px;
  height: 150px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid__item {
  background-color: #dcb;
}
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}
h1 {
  font-size: 22px;
}
@-webkit-keyframes color-change {
  0% {
    fill: white;
  }
  50% {
    fill: #fe8;
  }
  100% {
    fill: #fd0;
  }
}
@keyframes color-change {
  0% {
    fill: white;
  }
  50% {
    fill: #fe8;
  }
  100% {
    fill: #fd0;
  }
}
.star {
 -webkit-animation: 4s color-change infinite alternate linear;
         animation: 4s color-change infinite alternate linear;
